.header
  position: absolute
  top: 0
  left: 25%
  right: 25%
  height: 100px
  text-align: center
  z-index: 98
  +rh(700)
    height: 70px
  +r(768)
    position: relative
    left: auto
    right: auto
    height: 70px
    padding: 15px
    text-align: left

.logo
  position: absolute
  top: 10px
  left: 50%
  transform: translate(-50%, 0)
  transition: all 500ms
  text-align: center
  +r(768)
    display: none
  a
    display: block
    color: $text-color-dark
    transition: color 300ms
    &:hover
      color: lighten($text-color-dark, 10%)
    p
      visibility: hidden
      font-size: 2.4rem
      text-transform: uppercase
      opacity: 0
      transition: opacity 500ms
      +rh(700)
        font-size: 2rem
        margin-top: -5px
    svg
      font-size: 4rem
      transition: transform 500ms
      +r(768)
        transform-origin: 50% 20px
  .is-homepage &
    top: 135px
    p
      visibility: visible
      opacity:  1
    svg
      transform: scale(2)
      transform-origin: 50% 0
      margin-bottom: 45px
    @media only screen and (min-height: 700px)
      top: 180px
      svg
        transform: scale(2.5)
.mob-logo
  display: inline-block
  visibility: hidden
  opacity: 0
  transition: opacity 500ms
  +r(768)
    visibility: visible
    opacity: 1
  .mob-logo__img
    font-size: 40px
    line-height: 1
  .is-homepage &
    opacity: 0
    visibility: hidden