// styles
.center
	position: relative
	width: 50%
	margin: 0 auto
	height: 100%
	background: rgba($lightblue, 0.2)
	z-index: 9
.container
	position: absolute
	top: 100px
	bottom: 100px
	left: 50%
	width: 820px
	max-width: 80%
	transform: translateX(-50%)
	background-color: $main
	box-shadow: 0 0 40px 10px #d2dfee
	z-index: 10
.section
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  .section__in
    position: relative
    height: 100%
    padding: 7% 15% 4%
    overflow: hidden
    +vertical
    &:after
      content: attr(data-title)
      position: absolute
      bottom: -10%
      left: 2%
      transform-origin: 0 0
      transform: rotate(-90deg)
      color: rgba($text-color, 0.07)
      font-size: 8rem
      text-transform: uppercase
      font-weight: bold
      line-height: 1
.title
	text-align: center
	font-size: 2.4rem
	text-transform: uppercase
	color: $text-color-dark

// start
.start
	position: absolute
	top: 40px
	bottom: 40px
	left: 40px
	right: 40px
	border: 4px solid #bddcff
	text-align: center
	&:before
		content: ""
		position: absolute
		top: 50%
		left: 50%
		width: 110px
		margin-top: -2px
		margin-left: -55px
		height: 4px
		background: $border
	.start__title
		position: absolute
		bottom: 27%
		left: 0
		right: 0
	.start__btn
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 19%
.btn
  display: inline-block
  width: 160px
  height: 46px
  line-height: 46px
  background: $text-color
  color: $main
  font-size: 14px
  text-transform: uppercase
  transition: background 300ms
  &:hover
    background: $text-color-dark

// about
.about
  width: 100%
  height: 100%
  display: inline-block
  vertical-align: middle
  .about__in
    position: relative
    height: 100%
    font-size: 16px
.prev, .next
	position: absolute
	top: 50%
	transform: translateY(-50%)
	background: none
	font-size: 28px
	color: $border
	transition: color 300ms
	&:hover
		color: $text-color-dark
.prev
	left: -20px
.next
	right: -20px
.slider-wrap
  height: 100%
  opacity: 0
  visibility: hidden
  transition: opacity 300ms
  &.loaded
    opacity: 1
    visibility: visible
.slider
  height: 100%
  .slider__item
    display: inline-block
    float: none
    height: 100%
    +vertical
    cursor: hand
  .slider__in
    display: inline-block
    vertical-align: middle
    width: 100%
  .slider__img
    font-size: 0
    width: 150px
    height: 150px
    border-radius: 50%
    background: $text-color
    margin: 0 auto 5%
    img
      width: 150px
      height: 150px
      object-fit: cover
  .slider__topper
    position: relative
    text-transform: uppercase
    font-size: 2.4rem
  .slider__title
    font-weight: bold
  .slider__content
    font-size: 0
    & > p
      font-size: 1.6rem
  .slider__col
    width: 33.3%
    display: inline-block
    vertical-align: top
    padding: 0 5%
    text-align: left
    font-size: 1.6rem
  .slider__mid
    max-width: 240px
    margin: 0 auto
    font-size: 1.6rem
.counter
	position: absolute
	top: -5%
	right: -7%
	color: $border
	font-size: 4.6rem
	line-height: 1
	transform-origin: 100% 0
	transform: rotate(-90deg)
  will-change: transform
	.counter__current
		font-size: 8rem
	+rh(960)
		top: -8%
	+rh(768)
		top: -10%

.socials
	font-size: 0
	& > li
		display: inline-block
		vertical-align: middle
		margin: 0 20px
	.socials__link
		display: inline-block
		width: 60px
		height: 60px
		line-height: 72px
		border-radius: 50%
		background: $text-color
		color: $main
		text-align: center
		transition: background 300ms
		&:hover
			background: $text-color-dark
		.icon
			+gpu
		.icon-fb
			font-size: 18px
		.icon-tw, .icon-in
			font-size: 16px
		.icon-vk
			font-size: 12px

// contacts
.contacts
  width: 100%
  display: inline-block
  vertical-align: middle
  text-align: center
  font-size: 16px
  .contacts__mail
    text-transform: uppercase
    font-size: 2.4rem
    color: $text-color
    font-weight: normal
.form
	max-width: 400px
	margin: 30px auto
	.form__row
		display: block
		margin-bottom: 10px
.input, .textarea
	width: 100%
	border: 2px solid $lightblue
	font-size: 16px
	color: $text-color-dark
	+placeholder
		color: $text-color-dark
.input
	height: 42px
	padding: 0 10px
.textarea
	padding: 10px
	resize: none

// portfolio
.portfolio
  display: inline-block
  width: 100%
  height: 100%
  font-size: 0
  .portfolio__item
    display: inline-block
    vertical-align: top
    width: 50%
    height: 50%
    padding: 15px
  .portfolio__link
    position: relative
    display: block
    width: 100%
    height: 100%
    background: #bddcff
    transition: background 300ms
    &:hover
      background: #3984de
