.icon {
  fill: currentColor;
}
.icon-behance {
      width: 1.6em;
      height: 1em;
    }
.icon-close {
      width: 1.1em;
      height: 1em;
    }
.icon-dribbble {
      width: 1em;
      height: 1em;
    }
.icon-fb {
      width: 0.6em;
      height: 1em;
    }
.icon-in {
      width: 1.1em;
      height: 1em;
    }
.icon-instagram {
      width: 1em;
      height: 1em;
    }
.icon-left {
      width: 0.6em;
      height: 1em;
    }
.icon-logo {
      width: 0.8em;
      height: 1em;
    }
.icon-right {
      width: 0.6em;
      height: 1em;
    }
.icon-share {
      width: 1em;
      height: 1em;
    }
.icon-tw {
      width: 1.3em;
      height: 1em;
    }
.icon-vk {
      width: 1.8em;
      height: 1em;
    }