.icon {
  fill: currentColor;
}
.icon-left {
      width: 0.6em;
      height: 1em;
    }
.icon-logo {
      width: 0.8em;
      height: 1em;
    }
.icon-right {
      width: 0.6em;
      height: 1em;
    }